.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  /* Remove position: relative as it can interfere with sticky */
}

.layout-content {
  flex: 1;
  width: 100%;
  /* Ensure content can scroll - no overflow properties that break sticky */
}

